<h1>New Idea</h1>

<form action="/create_idea">
  <div>
    <label for="log">Idea</label><br />
    <input id="log" name="log" type="text" class = "form-control" placeholder = "The wheel" style = "display:inline">
  </div>
  <div>
    <br>
    <input type="submit" class="btn btn-primary">
  </div>
</form>

